<div class="flex gap-4 py-4">
    <aside class="h-fit p-4 bg-white min-w-[280px] sticky top-0 rounded-sm border">
        // Fixed Sidebar
    </aside>
    <div class="grid grid-cols-3 gap-4 w-full">
        <div class="bg-white h-60 border">
        </div>
        <div class="bg-white h-60 border">
        </div>
        <div class="bg-white h-60 border">
        </div>
    </div>
</div>
