<div class="flex gap-4 py-4">
    <%= sticky_filter_component %>
    <div class="w-full space-y-4">
        <div class="grid grid-cols-3 gap-4">
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
            <div class="bg-white h-60 border rounded-sm"></div>
        </div>
        <div class="grid place-items-center">
            <%= btn_component label: "Shore more", btn_type: "ghost", extra_css: "w-fit" %>
        </div>
    </div>
</div>
