<div class="flex gap-4 py-4">
    <aside class="h-fit p-4 bg-white min-w-[280px] sticky top-3 gap-3 rounded-sm border grid">
        <label class="font-semibold text-secondary">
            Filter
            <span class="font-normal text-sm">
                (shows 20 results)
            </span>
        </label>
        <button class="btn-primary w-fit">
            Search
        </button>
    </aside>
    <div class="grid grid-cols-3 gap-4 w-full">
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
        <div class="bg-white h-60 border rounded-sm"></div>
    </div>
</div>
