<%= button_to to_path(),
    form: { id: path_id },
    method: :post,
    params: { bid_amount: @hold_amount },
    data: { auctioncard_target: "action", action: "click->auctioncard#disableBtn"},
    class: "#{ @extra_css } flex flex-row justify-center items-center gap-2 #{ sizecss } transition-colors duration-300 #{ is_floating && "absolute bottom-3 right-3"} bg-[conic-gradient(from_1turn,#87C1FF,#007BC5)] rounded-sm cursor-pointer hover:shadow-md hover:scale-105" do
%>
    <%= icon('fa-solid', 'gavel', class:"#{ iconcss } text-white", id: "bid-icon", data: { auctioncard_target: "icon" } )%>
    <span id="text" class="<%= textcss %> font-semibold text-white uppercase">Bid</span>
<% end %>
