<div id="bid_count_<%= @id %>" class="bg-green-600 font-medium text-white text-center rounded-sm text-sm w-full px-3 py-1">
    <% if @count > 0 %>
        Total bids (<%= @count %>)
    <% else %>
        No bidders yet
    <% end %>
</div>
