<div class="bg-white border rounded-sm p-1.5 cursor-pointer space-y-2">
    <div class="bg-gray-200 h-56 rounded-b-lg">
    </div>
    <div class="px-2 divide-y space-y-2">
        <div class="flex justify-between items-center">
            <h2 class="font-semibold text-secondary w-3/4 line-clamp-1">
                Nulla dolor velit adipisicing duis excepteur esse in duis nostrud occaecat mollit incididunt deserunt sunt. Ut ut sunt laborum ex occaecat eu tempor labore enim adipisicing minim ad. Est in quis eu dolore occaecat excepteur fugiat dolore nisi aliqua fugiat enim ut cillum. Labore enim duis nostrud eu. Est ut eiusmod consequat irure quis deserunt ex. Enim laboris dolor magna pariatur. Dolor et ad sint voluptate sunt elit mollit officia ad enim sit consectetur enim.
            </h2>
            <div class="text-sm font-medium text-secondary-light">
                2019
            </div>
        </div>
        <div class="flex justify-between">
            <div class="flex gap-2">
                <%= icon('fa-solid', 'gavel', class:"text-xl text-primary self-end mb-1")%>
                <div>
                    <label class="text-xs font-medium text-secondary-light">Sold for</label>
                    <div class="font-semibold text-secondary">
                        23,911
                        <span class="text-xs text-primary">USD</span>
                    </div>
                </div>
            </div>
             <div class="flex gap-2">
                <%= icon('fa-solid', 'sack-dollar', class:"text-xl text-primary self-end mb-1")%>
                <div>
                    <label class="text-xs font-medium text-secondary-light">Buy now</label>
                    <div class="font-semibold text-secondary">
                        26,911
                        <span class="text-xs text-primary">USD</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
