<div
    id="bid_count_<%= @id %>"
    class="bg-white border border-primary font-medium text-primary text-center rounded-sm text-sm w-full px-3 py-1"
>
    <% if @count > 0 %>
        Total bids (<%= @count %>)
    <% else %>
        No bidders yet
    <% end %>
</div>
