<div class="flex flex-col h-fit gap-1">
    <%= @form.label @label || @name, class: "input-label" %>
    <%= @form.file_field @name, accept: "image/*", required: @required, placeholder: "image",  class: "block text-sm
      file:mr-4 file:py-3 file:px-4 file:border-0
      file:text-sm file:font-semibold file:bg-primary
      file:border file:text-white
      file:cursor-pointer"
    %>
</div>
