<div class="grid gap-1">
    <%= @form.label @label || @name, class: "input-label" %>
    <%= @form.text_field @name , class:"input-primary", placeholder: @placeholder || @label || @name, required: @required %>
</div>
