<div data-controller="notification" id="notification" class="shadow-lg flex items-center justify-center bg-white gap-3 px-5 py-2 absolute top-5 left-0 right-0 mx-auto max-w-xs rounded-lg border-2 <%= twcss %>">
   <%= icon('fa-solid', icon_type, class:"text-xl") %> <%= @msg %>
</div>
