<aside class="h-fit p-4 bg-white min-w-[280px] sticky top-3 gap-3 rounded-sm border grid">
    <label class="font-semibold text-secondary">
        Filter
        <span class="font-normal text-sm">
            (shows 20 results)
        </span>
    </label>
    <%= btn_component label: "Search", extra_css: "w-fit"%>
</aside>
